[Desktop Entry]
Type=Application
Version=1.0
Name=Snigdha OS PowerShell
GenericName=PowerShell
Comment=Run PowerShell in Snigdha OS
Icon=snigdhaos-powershell
Exec=pwsh
Terminal=true
Categories=Utility;System;TerminalEmulator;
Keywords=PowerShell;Shell;Terminal;CommandLine;SnigdhaOS;
StartupNotify=true
